<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Other manifest entries -->
    
    <application
        android:label="POSXpert"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Add USB device filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme">
            
            <!-- Intent filters for USB devices -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            
            <!-- Standard Flutter intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
                
            <!-- Other intent filters and metadata -->
        </activity>
        
        <!-- Flutter Embedding v2 metadata - THIS IS THE IMPORTANT ADDITION -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>